html, body {
    margin: 20px;
    padding: 0;
    width: auto;
    height: auto;
    overflow: auto;
    background: #000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#title {
    text-align: center;
    font-size: 3em;
}

#title a {
    
    color: orange;
    text-decoration: none;
}

h2 {
    color: #fff;
    margin-left: 15px;
}

details summary {
    color: #fff;
}

ul li{
    list-style-type: none;
    display: inline;
}

#fa-shopping-cart {
    color: orange;
    font-size: 80px;
    text-decoration: none;
}

.nav {
    float: right;
    color: #fff;
    padding-top: 1.5em;
}

.menubutton {
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    margin: 10px;
    padding-bottom: 5px;
}

.menubutton {
    position: relative;
}
  
.menubutton:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    background: #fff;
    transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
}
  
.menubutton:hover:before {
    width: 100%;
    transform: translateX(0%);
}
  
.menubutton:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    height: 1px;
    background: #fff;
    transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
}
  
.menubutton:hover:after {
    width: 100%;
    transform: translateX(0%);
}

.search {
    background-color: transparent;
    border: 2px solid orange;
    padding:0.5rem 1rem;
    border-radius: 10px;
    font-size: 1rem;
    color:#fff;
}

.search:focus {
    outline:0;
    background-color: var(--primary-color);
}

.search::placeholder {
    color: #fff;
}

.categories details {
    display: inline;
    font-size: 1.2em;
    margin: 50px;
}