html, body {
    margin: 20px;
    padding: 0;
    width: auto;
    height: auto;
    overflow: auto;
    background: #000;
}

#title {
    color: orange;
    text-align: center;
    font-size: 3em;
}

ul li{
    display: inline;
}

#fa-shopping-cart {
    color: orange;
    font-size: 100px;
}

.navbar {
    float: right;
    color: #fff;
    padding-top: 2em;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 2em;
    padding: 10px;
}

input {
    font-size: 1.5em;
}