body {
    margin: 40px;
    padding: 0;
    width: auto;
    height: auto;
    overflow: auto;
    background: #000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#title {
    text-align: center;
    font-size: 3em;
}

#title a {
    
    color: #e2b714;
    text-decoration: none;
}

#box {
    width: 15em;
    background-color: #000;
    align-content: center;
    border-radius: 10px;
    border: 2px solid #fff;
    transition: all .2s ease-in-out;
    margin-bottom: 10px;
}

#box:hover {
    border: 2px solid #e2b714;
    transform: scale(1.05);
}

#box img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.inline-list {
    display: inline-flex;
}
  
.inline-list > div {
    margin-right: 10px;
}

#cart-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
  
#cart-list {
    justify-content: flex-start;
    gap: 10px;
    display: grid;
    grid-gap: 70px 20px;
    grid-template-columns: repeat(5, 1fr);
    width: 90%;
    margin: auto;
    padding-bottom: 40px;
}
  
#clear-cart {
    align-self: center;
}

#cart-container button {
    color: #fff;
    background: #546e7a;
    border: 2px solid #546e7a;
    padding: 14px 20px;
    border-radius: 5px;
    margin-bottom: 5px;
}

#wishlist h2 {
    color: #fff;
}

h2 {
    color: #e2b714;
    margin-inline-start: 10px;
}

h3 {
    color: #fff;
    margin-inline-start: 10px;
}

h4 {
    color: #fff;
    margin-inline-start: 10px;
    font-weight: 100;
}

#fa-shopping-cart {
    color: #e2b714;
    font-size: 80px;
    text-decoration: none;
    margin-right: 40px;
}

.fa-shopping-cart:before {
    margin-left: 40px;
}

.menubutton {
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    margin: 10px;
    padding-bottom: 5px;
}

.menubutton {
    position: relative;
    float: right;
    margin-right: 40px;
    margin-top: 1.2em;
}
  
.menubutton:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background: #fff;
    transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
}
  
.menubutton:hover:before {
    width: 100%;
    transform: translateX(0%);
}
  
.menubutton:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    height: 2px;
    background: #fff;
    transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
}
  
.menubutton:hover:after {
    width: 100%;
    transform: translateX(0%);
}

@media (max-width: 600px) {
    #title {
        font-size: 2em;
        transition: font-size 0.3s ease-in-out;
    }
  
    .menubutton {
        font-size: 1em;
        margin: 10px;
        padding-bottom: 5px;
        transition: font-size 0.3s ease-in-out, margin 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
    }
  
    #fa-shopping-cart {
        font-size: 60px;
        transition: font-size 0.3s ease-in-out;
    }
}

@media (max-width: 480px) {
    #title {
        font-size: 1.5em;
        transition: font-size 0.3s ease-in-out;
    }
  
    .menubutton {
        font-size: 1em;
        margin: 10px;
        padding-bottom: 5px;
        transition: font-size 0.3s ease-in-out, margin 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
    }
  
    #fa-shopping-cart {
        font-size: 60px;
        transition: font-size 0.3s ease-in-out;
    }
}

@media (max-width: 1070px) {
    h1 {
      font-size: 25px;
    }
    #cart-list {
      width: min-content;
      grid-gap: 10px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
    #cart-list img {
      max-width: 100%;
      height: auto;
    }
}

@media (max-width: 850px) {
    h1 {
        width: 80%;
    }
    #cart-list {
        width: min-content;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 650px) {
    h1 {
        font-size: 20px;
        width: 90%;
    }
    #cart-list {
        width: min-content;
        font-size: 12px;
        grid-template-columns: repeat(3, 1fr);
    }
    #cart-list button {
        font-size: 10px;
        padding: 5px 5px;
    }
}

@media (max-width: 600px) {
    h1 {
        width: 70%;
    }
    #cart-list {
        width: min-content;
        font-size: 10px;
        grid-template-columns: repeat(3, 1fr);
    }
    #cart-list button {
        font-size: 8px;
        padding: 3px 8px;
    }
}

@media (max-width: 505px) {
    h1 {
        width: 80%;
    }
    #cart-list {
        width: min-content;
        font-size: 7px;
        grid-template-columns: repeat(3, 1fr);
    }
    #cart-list button {
        font-size: 7px;
        padding: 2px 7px;
    }
}

@media (max-width: 450px) {
    h1 {
        width: 80%;
    }
    #cart-list {
        width: min-content;
        font-size: 5px;
        grid-template-columns: repeat(3, 1fr);
    }
    #cart-list button {
        font-size: 5px;
        padding: 0px 5px;
    }
}

@media (max-width: 300px) {
    h1 {
        width: 80%;
    }
    #cart-list {
        width: min-content;
        font-size: 2px;
        grid-template-columns: repeat(3, 1fr);
    }
    #cart-list button {
        font-size: 3px;
        padding: 0px 3px;
    }
}

@media (max-width: 200px) {
    h1 {
        width: 80%;
    }
    #cart-list {
        overflow: hidden;
    }
    #cart-list button {
        font-size: 2px;
        padding: 0px 2px;
    }
}